<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slide Socket IO</title>

  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <style>
    .css-cover {
      object-fit: cover;
    }
    .css-h {
      height: 100vh;
    }
    .css-top {
      object-position: 50% 0;
    }
    .css-bottom {
      object-position: 50% 100%;
    }
    .css-center {
      object-position: 50% 50%;
    }
    .css-adj {
      object-position: 50% 30%;
    }
  </style>
</head>

<body>

  <div id="app">
    <div id="carousel">
      <b-carousel id="carousel-1" v-model="slide" :interval="0" controls indicators background="#ababab"
        style="text-shadow: 1px 1px 2px #333;" @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd">
        <b-carousel-slide 
          v-for="(image, index) in images"
          :key="index"
          :caption="image.caption">
          <img slot="img" class="d-block img-fluid w-100 css-cover css-h css-adj" width="1024" height="480"
            :src="image.src" alt="image slot">
        </b-carousel-slide>
      </b-carousel>
    </div>
  </div>

  <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
  <!-- <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script>
    new Vue({
      el: '#app',

      data() {
        return {
          socket: io('http://localhost:3000'),
          slide: 0,
          currentSlide: 0,
          sliding: null,
          images: [
            {
              src: "https://images.pexels.com/photos/2048865/pexels-photo-2048865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
              caption: "Galata Tower"
            },
            {
              src: "https://images.pexels.com/photos/1493079/pexels-photo-1493079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
              caption: "Turkish Tea"
            },
            {
              src: "https://images.pexels.com/photos/87010/pamukkale-lime-sinter-terrace-calcium-speleothems-87010.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
              caption: "Pamukkale"
            },
            {
              src: "https://images.pexels.com/photos/879478/pexels-photo-879478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
              caption: "Hagia Sophia"
            },
            {
              src: "https://images.pexels.com/photos/57553/pexels-photo-57553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
              caption: "Black Sea"
            },
          ]
        }
      },

      created() {
        this.socket.emit('intro', 'ramdhon')
        this.socket.on('setSlide', data => {
          console.log(data);
          this.slide=data;
        })
      },

      methods: {
        onSlideStart(slide) {
          this.sliding = true;
        },
        onSlideEnd(slide) {
          this.socket.emit('changingSlide', this.slide);
          this.sliding = false;
        }
      }
    })
  </script>
</body>

</html>